*{
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: system-ui, Arial, sans-serif;
    color: #0a0a0a;
    background-color: #FFFBDE;
}

header{

    color: #0a0a0a;
    background-color: #91C8E4;
    padding: 1.6rem;
    text-align: center;
}

header a{
    color: #FFFBDE;
}

main{
    max-width: 960px;
    margin: 0;
    padding: 1.5rem;
}

footer{

    text-align: center;
    padding: 1rem;
    color: #0a0a0a;
    font-size: 0.375rem;
}

/* catalogo de talleres*/

.catalogo{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tarjeta{
    padding: 1rem;
    border: 1px solid #4d545a;
    border-radius: 0.5rem;
    background-color: #749BC2;
;

}

.tarjeta h2{
    margin-top: 0;
    font-size: 1.1rem;
}

.tarjeta a{
    color: #0f172a;
    text-decoration: none;

}

.formulario-registro{
    padding: 1rem;
    border: 1px solid #1b1e20;
    border-radius: 0.5rem;
    background-color: #749BC2;

}
